body {
    background-color: var(--tg-theme-bg-color,#1F304E);
    margin: 0;
    padding: 0;
}

.title__block {
    width: 100%;
    height: 80px;
    background: var(--tg-theme-button-color,#E0CFB1);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
}

.title {
    height: 37px;
    padding-top: 15px;
    font-weight: 400;   
    font-size: 40px;
    line-height: 50px;
    margin: 0;
    font-family: 'Caveat';
    font-style: normal;
    color: var(--tg-theme-bg-color,#1F304E);
}

.items {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 47% 47%;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: var(--tg-theme-secondary-bg-color,#434E69);
    /* border: 2px solid var(--tg-theme-button-color,#E0CFB1); */
    border-radius: 21px;
}

.item__image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 20px;
}

.item__name {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    max-height: 65px;
    line-height: 1.1;
    text-align: center;   
    overflow: hidden;
    color: var(--tg-theme-button-color,#E0CFB1);
    margin-bottom: 5px;
}

.item__name__count {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.1;
    text-align: center;   
    color: var(--tg-theme-button-color,#E0CFB1);
    margin-bottom: 5px;
}

.item__button {
    font-family: 'Oswald';
    width: 60%;
    margin: 5px auto 10px auto;
    height: 35px;
    border: 2px solid var(--tg-theme-button-color,#E0CFB1);
    background-color: var(--tg-theme-button-color,#E0CFB1);
    color: var(--tg-theme-bg-color,#1F304E);
    font-size: 15px;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    transition: .3s linear;
}

/* .item__button:hover {
    background-color: var(--tg-theme-bg-color,#1F304E);
    color: var(--tg-theme-button-color,#E0CFB1);
} */

.item__hidden {
    font-family: 'Oswald';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.item__count {
    margin: 0px 10px 5px 10px;
    font-size: 20px;
    color: var(--tg-theme-button-color,#E0CFB1);
}

.item__button__hide {
    background-color: var(--tg-theme-button-color,#E0CFB1);
    color: var(--tg-theme-bg-color,#1F304E);
    border: 2px solid var(--tg-theme-button-color,#E0CFB1);
    border-radius: 10px;
    height: 35px;
    width: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    transition: .3s linear;
}

/* .item__button__hide:hover {
    border-color: var(--tg-theme-button-color,#E0CFB1);
    background-color: var(--tg-theme-bg-color,#1F304E);
    color: var(--tg-theme-button-color,#E0CFB1);
} */

.footer {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.footer__link {
    border: 2px solid var(--tg-theme-button-color,#E0CFB1);
    background-color: var(--tg-theme-button-color,#E0CFB1);
    outline: none;
    border-radius: 40px;
    padding: 10px 30px;
    font-size: 25px;
    text-decoration: none;
    transition: .3s linear;
    min-width: 300px;
}
.footer__link a {
    font-family: 'Oswald';
    color: var(--tg-theme-button-text-color,#1F304E);
    text-decoration: none;
}

/* .footer__link a:hover {
    color: var(--tg-theme-button-color,#E0CFB1);
}

.footer__link:hover {
    background-color: var(--tg-theme-bg-color,#1F304E);
} */

#button__add {
    display: block;
}

#button__add.hide {
    display: none;
}

#hidden {
    display: none;
}

#hidden.show {
    display: flex;
}

.back {
    width: 340px;
    margin: 20px auto 0px;
    padding-left: 10px;
    text-align: center;
}

.back__link {
    font-family: 'Oswald';
    position: relative;
    color: var(--tg-theme-button-color,#E0CFB1);
    text-decoration: none;
}

.back__link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    content: "";
    background-color: var(--tg-theme-button-color,#E0CFB1);
    transition: .3s ease-out;
}

/* .back__link:hover::after {
    width: 100%;
} */

.list {
    margin-top: 20px;
    margin-bottom: 20px;
}

.list__element {
    width: 440px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.list__item {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: var(--tg-theme-button-color,#E0CFB1);
    color: var(--tg-theme-bg-color,#1F304E);
    border-radius: 40px;
}

.list__text {
    font-size: 20px;
    margin-left: 15px;
    margin-top: 15px;
    max-height: 30px;
    overflow: hidden;
    font-family: 'Oswald';
}

.list__change {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.list__button {
    width: 35px;
    height: 35px;
    outline: none;
    border: 2px solid var(--tg-theme-bg-color,#1F304E);
    border-radius: 100%;
    background-color: var(--tg-theme-bg-color,#1F304E);
    margin-right: 10px;
    margin-left: 10px;
    color: var(--tg-theme-button-color,#E0CFB1);
    font-weight: 600;
    font-size: 20px;
    /* color: var(--tg-theme-button-color,#E0CFB1); */
    cursor: pointer;
    transition: .3s;
}

/* .list__button:hover {
    border-color: var(--tg-theme-bg-color,#1F304E);
    background-color: var(--tg-theme-button-color,#E0CFB1);
    color: var(--tg-theme-bg-color,#1F304E);
} */

p {
    margin: 0;
}

.list__count {
    font-family: 'Oswald';
    text-align: center;
    width: 15px;
    color: var(--tg-theme-bg-color,#1F304E);
}

.list__under {
    text-align: right;
    font-family: 'Oswald';
    color: var(--tg-theme-button-color,#E0CFB1);
    padding-right: 5px;
    margin: 3px;
}

.restaurants {
    margin: 20px auto;
}

.restaurant {
    width: 60%;
    margin: 20px auto;
    text-align: center;
    background-color: var(--tg-theme-secondary-bg-color, #434E69);
    border-radius: 21px;
}

.restaurant__image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 20px;
}

.restaurant__title {
    font-family: 'Oswald';
    color: var(--tg-theme-text-color,#E0CFB1);
    font-size: 25px;
}

.restaurant__button {
    margin-top: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: var(--tg-theme-button-color,#E0CFB1);
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
}

.restaurant__button a {
    font-family: "Oswald";
    color: var(--tg-theme-button-text-color,#1F304E);
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
}

@font-face {
    font-family: 'Oswald';
    src: url("./fonts/Oswald/Oswald.ttf");
}

@font-face {
    font-family: 'Caveat';
    src: url('./fonts/Caveat-VariableFont_wght.ttf');
}